body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    position: relative;
}

.container .sidebar {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;

    background: #042331;
}

.container .sidebar header {
    font-size: 22px;

    color: white;
    background: #063146;
    
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.container .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;

    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.container .sidebar ul a:hover {
    text-decoration: none;
}

.container .sidebar ul li:hover a {
    padding-left: 50px;
}

.container .sidebar ul li a svg {
    margin-right: 16px;
}

.container .main-page {
    width: 100%;
    height: 100vh;

    margin-left: 210px;
}

.container .main-page .table tr td i {
    cursor: pointer;
}

.container .main-page .table tr td .fa-trash {
    color: red;
    
    margin-left: 5px;
}

.container .main-page .modal .modal-dialog .modal-content {
    padding: 20px 50px;
}

.container .main-page nav  {
    margin-left: 300px;
    margin-top: 30px;
}

.container .main-page nav ul li a  {
    color: black;
}